<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:Android="http://schemas.android.com/apk/distribution"
    package="com.example.probonoapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_goldentime"
        android:label="GoldenTime"
        android:roundIcon="@mipmap/icon_goldentime_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProbonoApp">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".CountDownService"
            android:exported="true"
            android:foregroundServiceType="location"
            />
        <activity android:name=".Push_emergency_button" >
            <intent-filter>
                <action android:name=".Push_emergency_button"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".AlarmList" />
        <activity android:name=".Emergency_getFall">
            <intent-filter>
                <action android:name="com.example.probonoApp_getfall_notification_action"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".NotEmergencyActivity" />
        <activity android:name=".activity_spentTimeInToiletMoreThanHalf_50Percent">
            <intent-filter>
                <action android:name="com.example.probonoApp_30minute_notification_action"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".TimespentintoiletActivity" />
        <activity android:name=".CompleteAlarmActivity" />
        <activity android:name=".SignCompleteActivity" />
        <activity android:name=".SpentTimeInToiletMoreThan_100Percent" />
        <activity android:name=".guide_third" />
        <activity android:name=".guide_second" />
        <activity android:name=".guide_first" />
        <activity android:name=".UserActivity" />
        <activity android:name=".InstructionsActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LogoutActivity" />
    </application>

</manifest>